#chat_f1,#chat_f2{font-size:12px}
#chat_f1{position:fixed;right:10px;top:120px;width:93px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+220))}
#chat_f1_main{height:134px;background:url(c2.png) no-repeat}
#close{display:block;width:17px;height:17px;margin-left:76px;cursor:pointer;}
.a_kf,.a_sh{ width:70px; height:20px; display:inline-block; margin:0 6px;text-align:center;}
.a_kf{ margin-top:65px;color:#FFFFFF;}
#chat_f1_bottom{height:3px;width:82px;overflow:hidden;background:url(c2.png) 0px -160px no-repeat }
.chat_f1_expr{width:82px;overflow:hidden}
.list{height:25px;border:1px solid #dbdbdb;border-top:none;overflow:hidden;color:#787878;background:#fff }
.name{line-height:25px}
.current{border-left-color:#fff}
.arrow{color:#fff}
.detail{position:absolute;margin-left:-200px;margin-top:-26px;display:none;width:200px;padding:10px;border:1px solid #dbdbdb;background:#fff;line-height:18px}
.send_sms{display:inline-block;width:109px;height:25px;background:url(c2.png) 0px -163px;vertical-align:middle}
.mt{margin:2px 0}
.mt5{margin-top:5px}
.chat_f1_expr .list .detail .border{position:absolute;width:1px;height:25px;margin-left:210px;background:#fff;margin-top:-10px}
#chat_f2{display:none;position:fixed;right:1px;top:220px;border:1px solid #ccc;background:#fff;padding:1px 3px;width:1em;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+220));color:#F60;cursor:pointer;}

.weixin{border:1px solid #dbdbdb;border-top:none;width:80px;height:80px;overflow;hidden;}
.weixin img{width:80px;}
