@import url("documentation.css");
@import url("docnav.css");
@import url("reports.css");

@import url("dirty.css");

body{
	background-color: white;
	margin:0 auto;
	font-family: "Myriad ", "Bitstream Vera Sans","Lucida Grande", verdana, "Luxi Sans","Trebuchet MS", helvetica,verdana,arial,sans-serif;
	font-size:12px;
	max-width:55em;
	padding:2em;
	color:#333;
	line-height:150%;
	}

/*Links*/
a:link{color:#0066cc;}
a:visited{color:#6699cc;}
div.longdesc-link{float:right;color:#999;}


/*headings*/
h1,h2,h3,h4,h5,h6{color:#a70000;
	line-height:130%;
	margin-top:0em;
	font-family:"Luxi Sans","Bitstream Vera Sans","Lucida Grande","Trebuchet MS",helvetica,verdana,arial,sans-serif;
	background-color:transparent;
	}

h1{background: #800 url(Common_Content/images/red-bg.png) top left repeat;
	line-height:1.2em;
	color:#ede7c8;
	font-size:2em;
	padding:1.5em;
	}

h2{font-size:1.6em;
	}

h3{font-size:1.1em;
	padding-top:1em;
	}

h5.formalpara {font-size:1em;
	margin-top:2em;
	}


/*element rules*/
hr{border-collapse: collapse;border-style:none;border-top: 1px dotted #ccc;width:100% !important;}
sup{color:#999;}

/*supporting stylesheets*/

