/* Share button in Content */
#crestashareiconincontent {
	margin: 0;
	font-size: 15px;
	line-height: 1;
}
#crestashareiconincontent .sbutton {
	float:left;
	margin: 10px 5px;
}
.cresta-share-icon a {
	text-decoration: none !important;
	border: 0!important;
	outline: none !important;
}
/* Share button in Float */
#crestashareicon {
	line-height: 1;
	font-size: 15px;
}
.cresta-share-icon .sbutton {
	position: relative;
	margin: 8px 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	letter-spacing: 0.5px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 1;
}
.cresta-share-icon .sbutton.crestaShadow a i {
	border-bottom: 2px solid rgba(0,0,0,.1);
	border-right: 2px solid rgba(0,0,0,.1);
}
.cresta-share-icon .sbutton.crestaShadow a i:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: -20px;
	left: 39%;
	right: -6px;
	background: rgba(0,0,0,.1);
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	-o-transition: background .8s linear;
	-moz-transition: background .8s linear;
	-webkit-transition: background .8s linear;
	transition: background .8s linear;
}
.cresta-share-icon .sbutton.crestaShadow:hover a i:after {
	background: rgba(0,0,0,0);
	-o-transition: background .0s linear;
	-moz-transition: background .0s linear;
	-webkit-transition: background .0s linear;
	transition: background .0s linear;
}
.cresta-share-icon i.c-icon-cresta-facebook {
	background: #3b5998;
}
.cresta-share-icon i.c-icon-cresta-facebook:hover {
	border: 2px solid #3b5998 !important;
	color: #3b5998;
}
.cresta-share-icon i.c-icon-cresta-twitter {
	background: #4099FF;
}.cresta-share-icon i.c-icon-cresta-reddit {
	background-color: #6D91A6;
}
.cresta-share-icon i.c-icon-cresta-twitter:hover {
	border: 2px solid #4099FF !important;
	color: #4099FF;
}
.cresta-share-icon i.c-icon-cresta-reddit:hover {
	border: 2px solid #6D91A6 !important;
	color: #6D91A6;
}
.cresta-share-icon i.c-icon-cresta-gplus {
	background: #D34836;
}
.cresta-share-icon i.c-icon-cresta-gplus:hover {
	border: 2px solid #D34836 !important;
	color: #D34836;
}
.cresta-share-icon i.c-icon-cresta-linkedin {
	background: #007bb6;
}
.cresta-share-icon i.c-icon-cresta-linkedin:hover {
	border: 2px solid #007bb6 !important;
	color: #007bb6;
}
.cresta-share-icon i.c-icon-cresta-pinterest {
	background: #cb2027;
}
.cresta-share-icon i.c-icon-cresta-pinterest:hover {
	border: 2px solid #cb2027 !important;
	color: #cb2027;
}
.cresta-share-icon i.c-icon-cresta-print {
	background: #36c1c8;
}
.cresta-share-icon i.c-icon-cresta-print:hover {
	border: 2px solid #36c1c8 !important;
	color: #36c1c8;
}
.cresta-share-icon i.c-icon-cresta-facebook, .cresta-share-icon i.c-icon-cresta-twitter, .cresta-share-icon i.c-icon-cresta-reddit, .cresta-share-icon i.c-icon-cresta-gplus, .cresta-share-icon i.c-icon-cresta-linkedin, .cresta-share-icon i.c-icon-cresta-pinterest, .cresta-share-icon i.c-icon-cresta-print {
	color: #ffffff;
	width: 40px !important;
	height: 40px !important;
	text-align: center !important;
	padding: 11px 0;
	border: 2px solid transparent;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	-o-transition: border .6s linear , background .6s linear , color .6s linear;
	-moz-transition: border .6s linear , background .6s linear , color .6s linear;
	-webkit-transition: border .6s linear , background .6s linear , color .6s linear;
	transition: border .6s linear , background .6s linear , color .6s linear;
}
.cresta-share-icon i.c-icon-cresta-facebook:hover, .cresta-share-icon i.c-icon-cresta-twitter:hover, .cresta-share-icon i.c-icon-cresta-gplus:hover, .cresta-share-icon i.c-icon-cresta-linkedin:hover, .cresta-share-icon i.c-icon-cresta-pinterest:hover, .cresta-share-icon i.c-icon-cresta-print:hover {
	background: #ffffff;
	-o-transition: border .2s linear , background .2s linear , color .2s linear;
	-moz-transition: border .2s linear , background .2s linear , color .2s linear;
	-webkit-transition: border .2s linear, background .2s linear , color .2s linear;
	transition: border .2s linear ,background .2s linear , color .2s linear;
}
.cresta-share-icon .cresta-the-total-count, .cresta-share-icon .cresta-the-total-text {
	display: block;
	text-align: center;
	color: #000000;
	line-height:1em;
}
.cresta-share-icon .cresta-the-total-text {
	font-size: 11px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
}
.cresta-share-icon .cresta-the-total-count {
	font-size: 25px;
	font-weight: 700;
}
.cresta-share-icon.sameColors .facebook-cresta-share .cresta-the-count {
	background:#3b5998;
}
.cresta-share-icon.sameColors .twitter-cresta-share .cresta-the-count {
	background:#4099FF;
}
.cresta-share-icon.sameColors .googleplus-cresta-share .cresta-the-count {
	background:#D34836;
}
.cresta-share-icon.sameColors .linkedin-cresta-share .cresta-the-count {
	background:#007bb6;
}
.cresta-share-icon.sameColors .pinterest-cresta-share .cresta-the-count {
	background:#cb2027;
}
/* First Style */
.cresta-share-icon.first_style .cresta-the-count {
	background: #D60000;
	color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	position: absolute;
	left: 28px;
	top: -10px;
	font-size: 10px;
	line-height: 1;
	padding: 6px 0;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Second Style */
.cresta-share-icon.second_style i {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.cresta-share-icon.second_style .cresta-the-count {
	background: #D60000;
	color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	position: absolute;
	left: 28px;
	top: -10px;
	font-size: 10px;
	line-height: 1;
	padding: 6px 0;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Third Style */
.cresta-share-icon.third_style .cresta-the-count {
	background: #D60000;
	color: #ffffff;
	display: inline-block;
	height: 40px;
	text-align: center;
	font-size: 12px;
	line-height: 1;
	padding: 14px 5px;
	overflow: hidden;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Fourth Style */
.cresta-share-icon.fourth_style i {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.cresta-share-icon.fourth_style .cresta-the-count {
	background: #D60000;
	color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	position: absolute;
	left: 28px;
	top: -10px;
	font-size: 10px;
	line-height: 1;
	padding: 6px 0;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Fifth Style */
.cresta-share-icon.fifth_style i {
	padding: 5px 0;
}
.cresta-share-icon.fifth_style .cresta-the-count {
	background: #D60000;
	color: #ffffff;
	border: 2px solid;
	border-radius: 50%;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	position: absolute;
	left: 8px;
	bottom: -10px;
	font-size: 10px;
	line-height: 1;
	padding: 5px 0;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* New Style (from 1.5 version) */
/* Eleventh Style */
.cresta-share-icon.eleventh_style i {
	padding: 5px 0;
	border-radius: 3px;
}
.cresta-share-icon.eleventh_style .cresta-the-count, .cresta-share-icon.eleventh_style .cresta-the-count-content {
	background: #D60000;
	color: #ffffff;
	display: inline-block;
	position: absolute;
	width: 48px;
	bottom: 0;
	left: -4px;
	text-align: center;
	font-size: 10px;
	line-height: 1;
	padding: 1px 0px;
	vertical-align: bottom;
	font-weight: bold;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Twelft Style */
.cresta-share-icon.twelfth_style i {
	padding: 5px 0;
	-webkit-border-top-left-radius: 50%;
	-webkit-border-top-right-radius: 50%;
	-moz-border-radius-topleft: 50%;
	-moz-border-radius-topright: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.cresta-share-icon.twelfth_style .cresta-the-count, .cresta-share-icon.twelfth_style .cresta-the-count-content {
	background: #D60000;
	color: #ffffff;
	display: inline-block;
	position: absolute;
	width: 48px;
	bottom: 0px;
	left: -4px;
	text-align: center;
	font-size: 10px;
	line-height: 1;
	padding: 1px 0px;
	vertical-align: bottom;
	font-weight: bold;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Fourteenth Style */
.cresta-share-icon.fourteenth_style i {
	text-align: left !important;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
.cresta-share-icon.fourteenth_style .cresta-the-count, .cresta-share-icon.fourteenth_style .cresta-the-count-content {
	background: #D60000;
	color: #ffffff;
	display: inline-block;
	height: 17px;
	position: absolute;
	right: 0;
	bottom: 2px;
	font-size: 10px;
	line-height: 1;
	padding: 4px;
	font-weight: bold;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
/* Seventeenth Style */
.cresta-share-icon.seventeenth_style i {
	padding: 5px 0 0 0;
}
.cresta-share-icon.seventeenth_style .cresta-the-count, .cresta-share-icon.seventeenth_style .cresta-the-count-content {
	background: #D60000;
	color: #ffffff;
	display: inline-block;
	height: 13px;
	text-align: center;
	position: absolute;
	left: 3px;
	right: 3px;
	bottom: 5px;
	font-size: 10px;
	line-height: 1;
	padding: 1px;
	font-weight: 300;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Credit */
.crestaCredit {
	width: 40px;
	margin: 0 !important;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.cresta-share-icon i.c-icon-cresta-spinner {
	padding: 0 !important;
}
/*--------------------------------------------------------------
Print Style
--------------------------------------------------------------*/
@media print {
	.cresta-share-icon {
		display: none;
	}
}
i.cs.c-icon-cresta-reddit {
background: url('http://blog.linoxide.com/wp-content/themes/wp-davinci/images/reddit.png');
background-repeat: no-repeat;
background-position: 12px;
}