@font-face {
  font-family: 'csscfont';
  src: url('../font/csscfont.eot?30049490');
  src: url('../font/csscfont.eot?30049490#iefix') format('embedded-opentype'),
       url('../font/csscfont.woff?30049490') format('woff'),
       url('../font/csscfont.ttf?30049490') format('truetype'),
       url('../font/csscfont.svg?30049490#csscfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'csscfont';
    src: url('../font/csscfont.svg?30049490#csscfont') format('svg');
  }
}
*/
 
[class^="c-icon-cresta-"]:before, [class*=" c-icon-cresta-"]:before {
	font-family: 'csscfont' !important;
	font-style: normal !important;
	font-weight: normal !important;
	speak: none !important;
	display: inline-block !important;
	text-decoration: inherit !important;
	text-align: center !important;
	line-height: 1em !important;
}
 
.cs {
	display: inline-block !important;
	font: normal normal normal 14px/1 csscfont !important;
	font-size: inherit !important;
	text-rendering: auto !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
 
.c-icon-cresta-print:before { content: '\e800'; } /* '' */
.c-icon-cresta-gplus:before { content: '\e801'; } /* '' */
.c-icon-cresta-pinterest:before { content: '\e802'; } /* '' */
.c-icon-cresta-facebook:before { content: '\e803'; } /* '' */
.c-icon-cresta-twitter:before { content: '\e804'; } /* '' */
i.cs.c-icon-cresta-reddit {
background: url('http://blog.linoxide.com/wp-content/themes/wp-davinci/images/reddit.png');
background-repeat: no-repeat;
background-position: 12px;
}
.c-icon-cresta-linkedin:before { content: '\e806'; } /* '' */
.c-icon-cresta-spinner:before { content: '\e80a'; } /* '' */

/*
   Animation for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
