/* -- This is the place to add your own style modifications without touching the original styles -- */







/* ---------[ Remove Blank Box ]--------- */



.flexslider .feature-image {

    width:41.85%;

    padding:0;

    border:0;

    }



.flexslider .slides img {

    width:97%

    padding:1%;

    border:1px solid #e5e5e5;

    }



/* ---------[ change category heading home page] --------- */



h2.feature-title,



h3.widgettitle,



h2.feat-title {



	text-transform:none;



	}





/* ---------Remove reply from each post --------- */



.meta-comments { display:none; }





/*.........Featured Blog tweeking------------*/



.flexslider .slides > li:first-child { display:block; -webkit-backface-visibility:visible; }



.controls-container { display:none; }



/* ---------Remove doted line above banner --------- */



.banner728-container { border-bottom:none; }



/*...........Enlarge width of theme .......*/



@media only screen and (min-width: 961px) {

	#outer-wrap { max-width:1050px; }

}



/*...........Enlarge width of two columns .......*/





@media only screen and (min-width: 961px) {

	#contentleft { width: 66% !important; }

	#contentright { width: 32% !important; }

}

/*
@media all and (max-width: 480px) {
.meta .readmore {
    margin-top: 15px !important;
}
.meta .meta-author a{
font-size: 8pt;
margin-left: 5px;
}
.meta{
height: 27px;
}
.wp-pagenavi span.current{
margin: 5px 3px 3px 0px;
}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited{
margin: 5px 3px 3px 0px;
font-size:14px;
	margin-right:3px;
	margin-top:6px;
	margin-bottom:6px;
}
.wp-pagenavi span.extend{
margin: 5px 3px 3px 0px;
}


}*/

@media( max-width:480px){
.meta{padding: 3px 3px 21px 5px;font-size:0.7em;}
.meta-author a{margin-top:7px; height:30px;}
.flex-caption h2.post-title {
margin: 0 0 26px;
}
.meta .readmore{margin-top: 20px;}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited{margin: 0 4px 3px 4px;}
}

/* Footer sidebar Css */

.widget.subscribebox{
width: 305px !important;
}
div#om-footer-sleek-optin-title{
color: #e9e6dc;
font-family: Open Sans;
font-size: 18px;
font-weight: normal;
font-style: normal;
text-decoration: none;
float: left;
width: 480px;
margin-top: 5px;
text-align: right;
margin-right: 15px;
}
div#om-footer-sleek-body {
background: #ff9900;
width: 100%;
padding: 10px 0;
}
input#om-footer-sleek-optin-email {
color: #333333;
font-family: Open Sans;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
margin-right: 8px;
width: 350px;
height: 24px;
background-color: #fff;
border: 1px solid #fff;
font-size: 16px;
padding: 4px 6px;
}

input#om-footer-sleek-optin-submit{
background-color: #ae9c86;
border-color: #ae9c86;
font-family: Open Sans;
font-weight: normal;
font-style: normal;
text-decoration: none;
width: 175px;
color: #fff;
font-size: 16px;
line-height: 24px;
height: 34px;
text-align: center;
vertical-align: middle;
cursor: pointer;
display: inline;
margin: 0;
text-transform: uppercase;
}
a.om-close {
color: #fff;
display: inline;
font-size: 18px;
font-weight: 100;
text-decoration: none !important;
font-family: Arial, sans-serif !important;
margin-left: 20px;
vertical-align: text-top;
}

div#om-footer-sleek-optin {
height: 50px;
margin-bottom: 0 !important;
position: fixed;
bottom: 0px;
width: 100%;
overflow: visible;
z-index: 99;
padding-bottom: 3px;
background: white;
background-color: #89D4DF;
-webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
box-shadow: 0px -5px 15px 0px #bfbfbf;
}
input#om-footer-sleek-optin-email::-webkit-input-placeholder {
color: #333;
}
input#om-footer-sleek-optin-email:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #333;
}
input#om-footer-sleek-optin-email::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #333;
}
input#om-footer-sleek-optin-email:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #333;
}



@media screen and (max-width:480px){
div#om-footer-sleek-optin {
height: 120px;
}
h4.cuswidtitle{
font-size: 20px !important;
}
span.widget2line{
font-size: 12px !important;
}
input#gform_submit_button_32{
width: 130px !important;
padding: 10px 12px !important;
margin-left: 50px !important;
}
input#input_32_2{
width: 175px !important;
margin-left: 7px !important;
}
div#om-footer-sleek-optin-title{
width: 175px;
font-size: 11px;
margin-right: 8px;
margin-left: 50px;
margin-top: 5px;
margin-bottom: 5px;
height: 22px;
}
input#om-footer-sleek-optin-email{
text-align: center;
margin-right: 8px;
margin-left: 46px;
margin-bottom: 5px;
width: 200px;
height: 21px;
}

input#om-footer-sleek-optin-submit{
width: 100px;
color: #fff;
margin-top: 5px !important;
margin-left: 112px !Important;
font-size: 13px;
line-height: 10px;
height: 32px;
}

}

@media screen and (max-width:320px){

div#om-footer-sleek-optin-title{
width: 195px ;
margin-left: 40px !important;
}
input#om-footer-sleek-optin-email{
width: 170px !important;
margin-left: 50px !important;
font-size: 12px;
}
input#om-footer-sleek-optin-submit{
margin-left: 65px !Important;
font-size: 10px;
line-height: 10px;
}

}

div#cuswid{
background: url(/wp-content/uploads/2014/11/blog-subscribe.jpg) no-repeat;
background-size: cover;
border-color: #69b2e4;
border: 4px solid #E7E8E9;
padding:20px;
}

h4.cuswidtitle{
margin-top: 0;
margin-bottom: 0;
font-family: "museo-sans-rounded";
font-size: 29px;
text-transform: uppercase;
color: #fff;
text-align: center;
text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
border-radius: 5px;
}
span.widget2line{
color: #fff;
text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
font-family: "proxima-nova",sans-serif;
font-size: 16px;
text-align: center !important;
font-weight: 300;
line-height: 1.625;
}

input#input_32_2 {
width: 218px;
height: 20px;
padding: 16px;
padding-right: 11px;
padding-right: 1.6rem;
text-align: center;
margin-left: 14px !important;
margin: 16px 0 0;
}
input#gform_submit_button_32{
width: 260px;
margin-top: 10px;
background-image: -webkit-gradient(
 linear,
 left top,
 left bottom,
 color-stop(0, #EC9C3B),
 color-stop(1, #ED921C)
 );
background-image: -o-linear-gradient(bottom, #EC9C3B 0%, #ED921C 100%);
background-image: -moz-linear-gradient(bottom, #EC9C3B 0%, #ED921C 100%);
background-image: -webkit-linear-gradient(bottom, #EC9C3B 0%, #ED921C 100%);
background-image: -ms-linear-gradient(bottom, #EC9C3B 0%, #ED921C 100%);
background-image: linear-gradient(to bottom, #EC9C3B 0%, #ED921C 100%);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjOWMzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDkyMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
border-radius: 3px;
border: none;
box-shadow: 0 -2px rgba(0, 0, 0, 0.15) inset;
color: #fff;
cursor: pointer;
padding: 20px 24px;
line-height: 1.2;
text-transform: uppercase;
text-align: center;
text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
margin-left: 14px;
}

@media only screen and (min-width: 481px) and (max-width: 1920px) {
.wp_rp_content ul {
 columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;

}

.wp_rp_content li {
  width: 250px;
}
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
.wp_rp_content li {
   margin-top: 35px !important;
  margin-bottom: 35px !important;
}


}




/* Footer Changes */
@media (min-width: 39.8em){
.footerwidgetdiv{
  float: left;
  width: 33.33%;
}
body.single.single-post #contentright{
  margin-top: -67px;
}
#footer{
margin-bottom: -20px;
margin-top: 20px;
padding: 30px 0 0;
}
}

#footer{
  background:#FFFFFF;
color:#8c8989;
}
.footerwidgets{
  width:100%;
height: 125px;
}

.footerwidgets h4{
 text-align: center;
color:#84BEC7;
text-transform: uppercase;
}

.followustxt {
  padding: 15px;
  border-top: 1px solid #6E6868;
  font-size: 18px;
}
.footersocial{
margin-top: 60px;
  width: 85%;
  margin-left: 7%;
}
ul.footer-links {
  list-style: none;
}
ul.footer-links a{
color : #a5a5a5;
}
.linoxidesocial.clearfix span {
  margin-right: 15px;
}
.linoxidesocial.clearfix {
  margin-bottom: 15px;
}

.footerwidgetdiv input {
  padding: .5em .65em;
}
ul.footer-links li a {
  font-size: 17px;
}

body {
background: #FFFFFF;
}

.footersubmit{
  font-size: .875em;
  padding: 1.15em 1.3em !important;
  background: #EC9C3B;
  color: #fff;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-box-shadow: 0;
  -webkit-appearance: none;
}
@media only screen and (min-width: 240px) and (max-width: 468px) {
.footerwidgets {
height: 350px;
}
.footerwidgetdiv {
  height: 200px;
}
ul.footer-links li {
 /* margin-top: 10px;*/
}
.footersocial{
margin-top: 160px;
}
ul.footer-links li {
 line-height: 1.9;
  margin-bottom: .5em;
}
}
ul.footer-links {
  margin-left: 0 !important;
}